In [11]:
import pandas as pd

In [12]:
df = pd.read_csv('data_day01.csv', sep=r'\s+', names=['l1', 'l2'])

In [13]:
df.head()

      l1     l2
0  80414  72092
1  17250  26414
2  23063  14603
3  89663  35210
4  27237  81657

In [14]:
list_1 = sorted(df['l1'])
list_2 = sorted(df['l2'])

In [19]:
num = sum([abs(a - b) for a, b in zip(list_1, list_2)])
num

1646452

In [17]:
c_dict = {num : list_2.count(num) for num in list_1}
res = sum([key * value for key, value in c_dict.items()])

In [18]:
res

23609874